// colors
$default:                    #313b40;
$default-dark:               #2e373c;
$success:                    #44c593;
$success-dark:               #3cae82;
$warning:                    #f4d157;
$warning-dark:               #f4b357;
$error:                      #f55463;
$error-dark:                 #de4856;
$gray:                       #696969;
$white:                      #ffffff;
$brown:                      #725833;

// context themes
$default-background:         $default;
$default-foreground:         $white;
$default-shadow:             $default-dark;
$default-object-background:  $default-dark;
$default-icon:               'data:image/svg+xml,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%2040%2040%27%3E%3Cpath%20fill%3D%27%23FFFFFF%27%20d%3D%27M20%202c9.9%200%2018%208.1%2018%2018s-8.1%2018-18%2018S2%2029.9%202%2020%2010.1%202%2020%202m0-2C9%200%200%209%200%2020s9%2020%2020%2020%2020-9%2020-20S31%200%2020%200z%27%2F%3E%3Cpath%20fill%3D%27%23FFFFFF%27%20d%3D%27M10%2012h20v2H10zm10%205h10v2H20zm-4%205h14v2H16zm9%205h5v2h-5z%27%2F%3E%3C%2Fsvg%3E';

$success-background:         $default;
$success-foreground:         $success;
$success-shadow:             $default-dark;
$success-object-background:  $default-dark;
$success-icon:               'data:image/svg+xml,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%2040%2040%27%3E%3Cpath%20fill%3D%27%2344C593%27%20d%3D%27M20%202c9.9%200%2018%208.1%2018%2018s-8.1%2018-18%2018S2%2029.9%202%2020%2010.1%202%2020%202m0-2C9%200%200%209%200%2020s9%2020%2020%2020%2020-9%2020-20S31%200%2020%200z%27%2F%3E%3Cpath%20fill%3D%27%2344C593%27%20d%3D%27M27.6%2014.1L17%2024.7l-5.6-5.6-1.4%201.4%205.6%205.6%201.4%201.4%2012-12z%27%2F%3E%3C%2Fsvg%3E';

$warning-background:         $default;
$warning-foreground:         $warning;
$warning-shadow:             $default-dark;
$warning-object-background:  $default-dark;
$warning-icon:               'data:image/svg+xml,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%2040%2040%27%3E%3Cg%20fill%3D%27%23F4D157%27%3E%3Cpath%20d%3D%27M20%202c9.9%200%2018%208.1%2018%2018s-8.1%2018-18%2018S2%2029.9%202%2020%2010.1%202%2020%202m0-2C9%200%200%209%200%2020s9%2020%2020%2020%2020-9%2020-20S31%200%2020%200z%27%2F%3E%3Cpath%20d%3D%27M19%2011h2v14h-2zM19%2027h2v2h-2z%27%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E';

$error-background:           $default;
$error-foreground:           $error;
$error-shadow:               $default-dark;
$error-object-background:    $default-dark;
$error-icon:                 'data:image/svg+xml,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%2040%2040%27%3E%3Cg%20fill%3D%27%23f55463%27%3E%3Cpath%20d%3D%27M20%202c9.9%200%2018%208.1%2018%2018s-8.1%2018-18%2018S2%2029.9%202%2020%2010.1%202%2020%202m0-2C9%200%200%209%200%2020s9%2020%2020%2020%2020-9%2020-20S31%200%2020%200z%27%2F%3E%3Cpath%20d%3D%27M19%2011h2v14h-2zM19%2027h2v2h-2z%27%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E';

$clear-btn-border-color:     $default;
$clear-btn-icon-color:       $default;
$close-btn-width:            30px;
$clear-btn-width:            40px;

$animation-duration:         .2s;

$noti-width:                 360px;

$border-radius-sm:           4px;
$border-radius-lg:           50%;

$icon-container-width:       80px;
$icon-width: 40px;


$body-padding-vertical: 16px;
$body-padding-horizontal: 20px;

$font-family: 'Roboto', sans-serif;
$font-size: 14px;
$font-weight: 300;
